version: "3.8"

services:
  archiver:
    build: .
    volumes:
      - .:/app

web-server:
    image: nginx:latest
    ports:
      - "8080:80"
    volumes:
      - ./index.html:/usr/share/nginx/html/index.html:ro
    depends_on:
      - archiver
