version: "3.8"

services:
  archiver:
    build: .
    volumes:
      - .:/app

  web-server:
    image: nginx:latest
    ports:
      - "8080:80"
    volumes:
      - .:/usr/share/nginx/html:ro
    depends_on:
      - archiver
